@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  font-family: 'Montserrat', sans-serif; }

.list {
  float: left; }
  .list th {
    padding: 20px 5px;
    background: #aaa; }
  .list td {
    opacity: 0;
    padding: 30px 10px;
    text-align: center;
    background-color: #ccc;
    transition: all .5s ease-in-out; }
  .list tr:hover td {
    background: #eee;
    cursor: pointer; }

@media screen and (max-width: 900px) {
  .list {
    width: 90%;
    margin: 0 auto;
    text-align: center; }
  th, td {
    padding: 0px; } }

.details {
  float: right; }
