@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    font-family: 'Montserrat', sans-serif;
}

.list {
    float: left;
    th {
        padding: 20px 5px;
        background: #aaa;
    }
    td {
        opacity: 0;
        padding: 30px 10px;
        text-align: center;
        background-color: #ccc;
        transition: all .5s ease-in-out;

    }
    tr:hover td {
        background: #eee;
        cursor: pointer;
    }
}

.details {
    float: right;
    margin-right: 5%;
    .details__list {
        list-style: none;
        background: #ccc;
        li {
            padding: 20px;
        }
    }
}

@media screen and (max-width: 900px) {
    .list {
        width: 90%;
        margin: 0 auto;
        text-align: center;
    }
    th, td {
        padding: 0px;
    }
    .details {
        float: none;
        text-align: center;
    }
}

.active{
    background-color: #ccc;
}